.home {
  max-width: 1500px;
  margin: 0 auto;
}
.home .banner_section {
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(255, 255, 255, 1),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/October/Fuji_Tallhero_Dash_en_US_1x._CB418727898_.jpg")
      center center/cover no-repeat;
  height: 60vh;
}

.product_section {
  width: 100%;
  margin: -300px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 991px) {
  .product_section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .product_section {
    grid-template-columns: 1fr;
  }
}
